htmL {
  background: url("../images/bg-bright.jpg") repeat fixed 0 0 #ffffff;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: transparent !important;
  font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
  line-height: 21px;
  color: #636e7b;
  *overflow: hidden;
}
body.notfound,
body.signin {
  background: #e4e7ea;
}
input,
select,
textarea {
  font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
  color: #636e7b;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
}
strong {
  font-family: 'LatoBold';
  font-weight: normal;
}
/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e7ea;
  z-index: 10000;
}
#status {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  font-size: 32px;
}
/* sign in */
.signinpanel {
  width: 780px;
  margin: auto;
}
.signinpanel .logopanel {
  float: none;
  width: auto;
  padding: 0;
  background: none;
}
.signinpanel .signin-info ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.signinpanel .signin-info a {
  color: #333;
}
.signinpanel .form-control {
  display: block;
  margin-top: 15px;
}
.signinpanel .uname {
  background: #ffffff url(../images/user.png) no-repeat 95% center;
}
.signinpanel .pword {
  background: #ffffff url(../images/locked.png) no-repeat 95% center;
}
.signinpanel .btn {
  margin-top: 15px;
}
.signinpanel form {
  background: rgba(253, 253, 253, 0.95);
  border: 1px solid #ccc;
  -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}
.signinpanel form a {
  color: #666;
}
/* sign up */
.signuppanel {
  margin: 5% auto 0 auto;
  width: 780px;
}
.signuppanel .row {
  margin-left: -5px;
  margin-right: -5px;
}
.signuppanel .logopanel {
  float: none;
  width: auto;
  padding: 0;
  background: none;
}
.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.signuppanel .signup-info {
  padding-right: 20px;
}
.signuppanel form {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ccc;
  -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}
.feat-list {
  margin-top: 20px;
}
.feat-list .fa {
  height: 25px;
  width: 25px;
  float: left;
}
.feat-list .icon-facebook {
  background: url(../images/Facebook.png) no-repeat;
}
.feat-list .icon-google-plus {
  background: url(../images/Google+.png) no-repeat;
}
.feat-list .icon-yahoo {
  background: url(../images/Yahoo.png) no-repeat;
}
.feat-list h4 {
  margin-left: 45px;
  padding-top: 3px;
}
.feat-list p {
  margin-left: 45px;
}
.signup-footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 12px;
}
/* MY CSS */
#table-list-user-message {
  background-color: rgba(255, 255, 255, 0.61);
}
#table-list-user-message .header-table th {
  font-size: 14px;
}
#table-list-user-message .body-table td {
  font-size: 14px;
}
/* CUSTOM STYLES */
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.nomargin {
  margin: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-left-0 {
  border-left: 0;
}
.nopadding {
  padding: 0 !important;
}
.padding-top-0 {
  padding-top: 0;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.serif {
  font-family: 'Georgia, serif';
}
.italic {
  font-style: italic;
}
.dark {
  color: #333;
}
.width100p {
  width: 100%;
}
.width20 {
  width: 20px;
}
.width30 {
  width: 30px;
}
.inblock {
  display: inline-block;
}
/***** MEDIA QUERIES *****/
/*************************/
@media screen and (max-width: 1024px) {
  body {
    position: relative;
  }
  .leftpanel {
    display: none;
  }
  .mainpanel {
    margin-left: 0;
    width: 100%;
  }
  .leftpanel-collapsed .leftpanel {
    display: none;
  }
  .leftpanel-collapsed .mainpanel {
    margin-left: 0;
  }
  .leftpanel-collapsed .headerbar {
    margin-left: 0;
  }
  .leftpanel-show section {
    overflow-x: hidden;
  }
  .leftpanel-show .leftpanel {
    display: block;
  }
  .leftpanel-show .mainpanel {
    margin-left: 240px;
  }
  .stickyheader .headerbar {
    left: 0;
  }
  .stickyheader.leftpanel-show .headerbar {
    left: 240px;
  }
  .stickyheader.chat-relative-view .headerbar {
    right: 240px;
    left: auto;
  }
  .stickyheader .header-right {
    margin-right: 0;
  }
  .btn-demo {
    margin-bottom: 20px;
  }
  .leftpanelinner {
    padding: 5px 10px;
  }
  .leftpanelinner .searchform input {
    background: #131b26;
    border: 0;
  }
  /* horizontal menu related */
  .nav-horizontal {
    position: relative;
  }
  .horizontal-menu .menutoggle {
    display: block;
  }
  .horizontal-menu .headerbar .logopanel {
    display: none;
  }
  .nav-horizontal .caret {
    display: none;
  }
  .horizontal-menu .header-left,
  .horizontal-menu .topnav {
    float: none;
  }
  .horizontal-menu-sidebar .header-left,
  .horizontal-menu-sidebar .topnav {
    float: none;
  }
  .fixed-noleft .menutoggle {
    display: block;
  }
  .fixed-noleft .headerbar .logopanel {
    display: none;
  }
  .fixed-noleft .header-left,
  .fixed-noleft .topnav {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  .searchform {
    position: relative;
  }
  .headermenu li:nth-child(4) {
    display: none;
  }
  .leftpanel .searchform,
  .leftpanel .userlogged {
    display: block;
  }
  .breadcrumb-wrapper {
    display: none;
  }
  .headermenu .dropdown-menu:after {
    display: none;
  }
  .rightpanel .nav-tabs.nav-justified > li > a,
  .rightpanel .nav-justified > li > a {
    margin-bottom: 0;
  }
  .panel-email .col-sm-3 {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .notfoundpanel {
    width: auto;
    padding: 0 20px;
  }
  .notfoundpanel h1 {
    font-size: 72px;
    line-height: 72px;
  }
  .notfoundpanel h3 {
    font-size: 14px;
    line-height: normal;
  }
  .notfound h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .notfoundpanel form {
    width: auto;
  }
  .notfoundpanel .form-control {
    float: none;
    width: 100%;
  }
  .notfoundpanel .btn {
    margin-top: 10px;
    width: 100%;
  }
  .signinpanel,
  .signuppanel {
    margin: 0 auto;
    width: 480px;
    padding: 20px;
  }
  .signinpanel form {
    margin-top: 20px;
  }
  .signup-footer {
    margin-bottom: 10px;
  }
  .signuppanel .form-control {
    margin-bottom: 10px;
  }
  .signup-footer .pull-left,
  .signup-footer .pull-right {
    float: none !important;
    text-align: center;
  }
  .widget-quick-status-post .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    margin-bottom: -5px;
  }
  .widget-quick-status-post .nav-tabs.nav-justified > li a {
    margin: 0;
  }
  .nav-tabs.nav-justified.nav-profile > li {
    float: none;
    margin-bottom: 0;
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified.nav-profile > li a {
    margin: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  .dataTables_info {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
  }
  .dataTables_paginate {
    margin-bottom: 10px;
    text-align: center !important;
    float: none !important;
  }
  .paginate_disabled_previous,
  .paginate_enabled_previous,
  .paginate_disabled_next,
  .paginate_enabled_next {
    float: none !important;
  }
  .dataTables_filter,
  .dataTables_length {
    float: none !important;
    padding: 10px 0 0 10px;
    margin: auto !important;
    display: inline-block;
  }
  .table.dataTable th,
  .table.dataTable td {
    font-size: 13px;
    min-width: 150px;
  }
  .paging_full_numbers {
    min-width: 500px;
    margin: 0 0 10px 10px;
  }
  .paging_full_numbers:after {
    clear: both;
    display: block;
    content: '';
  }
}
@media screen and (max-width: 480px) {
  .signinpanel,
  .signuppanel {
    width: 360px;
  }
  .panel-email .pull-right {
    float: none !important;
  }
  .pageheader h2 {
    font-size: 18px;
  }
  .pageheader .glyphicon,
  .pageheader .fa {
    font-size: 18px;
  }
  .pageheader h2 span {
    font-size: 11px;
  }
  .fc-header td {
    display: block !important;
    text-align: center;
    width: 100%;
    border: 1px solid #eee;
    padding: 10px !important;
    margin-top: -1px;
  }
  .fc-button {
    padding: 2px 5px !important;
    margin: 0 !important;
  }
  .fc-header-title h2 {
    margin: 0 !important;
  }
  .filemanager-options li {
    padding: 5px 7px;
  }
  .filemanager-options .filter-type {
    display: block;
    float: none;
    border-top: 1px solid #eee;
  }
  .comment-list .media-object {
    width: 30px;
    padding: 2px;
  }
  .comment-list .media > .pull-left {
    margin: 0;
  }
  .comment-list h4 {
    font-size: 13px;
  }
  .comment-list .reply {
    font-size: 10px;
    padding: 2px 5px;
  }
  .comment-list .media-body {
    font-size: 12px;
    line-height: 18px;
  }
  .blog-content form {
    margin-bottom: 20px;
  }
  .letter-list {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .letter-list::after {
    clear: both;
    display: block;
    content: '';
  }
  .letter-list li {
    float: left;
    width: auto;
    display: inline-block;
  }
  .letter-list li a {
    display: block;
    padding: 2px 5px;
  }
  .btn-invoice:before {
    display: block;
    content: '';
    clear: both;
  }
  .btn-invoice .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .nav-tabs.nav-justified.nav-profile > li a {
    font-size: 13px;
    padding: 14px 10px;
  }
  #bloglist > div {
    padding: 0;
    margin: 0;
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 360px) {
  .pageheader h2 span {
    display: none;
  }
  .blog-title {
    font-size: 14px;
    line-height: 18px;
  }
  .blog-summary {
    font-size: 12px;
    line-height: 18px;
  }
  .blog-summary .btn {
    padding: 2px 5px;
    display: block;
    width: 100%;
  }
  .headermenu li:first-child .dropdown-menu {
    margin-right: -130px;
  }
  .headermenu li:nth-child(2) .dropdown-menu {
    margin-right: -85px;
  }
  .headermenu li:nth-child(3) .dropdown-menu {
    margin-right: -37px;
  }
  .nav-tabs.nav-justified.nav-profile > li {
    float: none;
    display: block;
    width: auto;
  }
  .blog-media .media-body {
    overflow: visible;
  }
  .follower-list .btn {
    display: block;
    margin: 0 0 5px 0;
    width: 100%;
  }
  .filemanager-options li {
    display: block;
    border-top: 1px solid #eee;
  }
  .filemanager-options li:first-child {
    border-top: 0;
  }
  .authorpanel .media-object {
    width: 80px;
    margin-right: 10px;
  }
  .people-item .media-object {
    width: 80px !important;
    height: 80px !important;
  }
  .pagination {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .signinpanel,
  .signuppanel {
    width: 310px;
  }
}
/* 
*/
#Search-User form {
  padding: 10px;
}
#Search-User form input {
  margin-top: 5px;
}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 0;
  line-height: 0;
}
.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
  line-height: 20px;
}
/* css_box */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}
/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}
body {
  font-family: arial, sans-serif;
}
.chat-container {
  width: 300px;
  margin: 20px auto;
}
.top-header {
  background: #666;
  color: white;
  padding: 0.2rem;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #35ac19;
}
.top-header:hover {
  background-color: #35ac19;
}
.top-header-tit {
  display: inline;
  font-size: 14px;
}
.top-header .typicons-message {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
  position: relative;
  top: 5px;
}
.top-header .typicons-minus {
  position: relative;
  top: 3px;
  font-size: 15px;
  cursor: pointer;
}
.top-header .typicons-times {
  position: relative;
  top: 3px;
  font-size: 15px;
  cursor: pointer;
}
.top-header .left {
  float: left;
}
.top-header .right {
  float: right;
  padding-top: 5px;
}
.top-header > * {
  position: relative;
}
.top-header::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background-color: #404040;
}
.chat-box {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0;
  height: 212px;
  overflow-y: auto;
}
.chat-box li {
  padding: 5px;
  overflow: hidden;
  display: flex;
}
.chat-box .avatar-icon {
  width: 40px;
  position: relative;
}
.chat-box .avatar-icon img {
  display: block;
  width: 100%;
  background-color: #1469A6;
}
.another .avatar-icon:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.me {
  justify-content: flex-end;
  align-items: flex-end;
}
.me .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.me .avatar-icon {
  order: 2;
}
.me .avatar-icon:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.messages time {
  font-size: 0.7rem;
  color: #ccc;
}
.setting {
  background-color: #e5e5e5;
  height: 32px;
  padding-top: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting .left {
  float: left;
}
.setting .right {
  float: right;
}
.iconicstroke-user {
  font-size: 22px;
  position: relative;
  top: 4px;
  left: 10px;
  color: #414141;
  cursor: pointer;
}
.typicons-cog {
  font-size: 23px;
  position: relative;
  top: 7px;
  right: 4px;
  color: #414141;
  cursor: pointer;
}
.fontawesome-facetime-video {
  font-size: 18px;
  position: relative;
  top: 3px;
  color: #414141;
  left: 5px;
  cursor: pointer;
}
.iconicstroke-user:hover,
.typicons-cog:hover,
.fontawesome-facetime-video:hover {
  color: #000000;
}
as ::-webkit-scrollbar {
  height: 14px;
  width: 10px;
  background: #eee;
  border-left: 1px solid #dddddd;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 1px solid #cfcfcf;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
}
::-webkit-scrollbar-thumb:active {
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#Search-User .Formchat {
  background-color: none;
  padding: 0px;
  border: none;
}
#Search-User .Formchat .input-send-message {
  height: 22px;
  font-size: 11px;
  width: 80%;
}
.clear {
  clear: both;
}
.rml {
  padding-left: 0px;
}
.rmr {
  padding-right: 0px;
}
.fr {
  float: right !important;
}
.fl {
  float: left;
}
.rma {
  padding: 0px;
}
