<div class="col-sm-6">
    <ul id="mymessage">
        <li ng-repeat="rsMessage in listMessage track by $index" class="clear">
            <div class="col-md-4">
                <img src="{{rsMessage.avatar}}" width="70"/>
                <div class="name">{{rsMessage.nameUser}}</div>
            </div>
            <div class="col-md-8">
                <div class="message">
                    {{rsMessage.message}}
                </div>
            </div>
        </li>
    </ul>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12 rma">
                <form autocomplete="off">
                    <input type="text" ng-model="message.content"  autocomplete="off" class="form-control" id="inputMessage" placeholder="Type message in here">
                    <button type="submit" id="send-message" ng-click="sendMessage()" class="btn btn-default">Send</button>
                 </form>
            </div>
        </div>

    
    </form>
</div>
<div class="col-ms-6"></div>
