<div class="signin-info">           
    <div ng-if="isTemplatedefault==null || isTemplatedefault==undefined || isTemplatedefault==false" >
        <div class="mb20"></div>
        <p>You can login by:</p>
        <div class="feat-list">
            <i class="fa icon-facebook"></i>
            <h4 class="text-success"><a provider="1" chat-others-user-message-control href="javascript:void(0)">Facebook</a></h4>
        </div>
        <div class="feat-list">
            <i class="fa icon-google-plus"></i>
            <h4 class="text-success"><a provider="2" chat-others-user-message-control href="javascript:void(0)">Google</a></h4>
        </div>
        <div class="feat-list">
            <i class="fa icon-yahoo"></i>
            <h4 class="text-success"><a provider="3" chat-others-user-message-control href="javascript:void(0)">Yahoo</a></h4>
        </div>
        <strong>Register with Message-Real-Time? <a href="#/register">Registry</a></strong>
    </div>
</div>