<div class="col-md-6">
    <div ng-include="'client/app/views/login_social.html'"></div>   
</div>

 <ul id="mymessage">
        <li ng-repeat="rsMessage in listMessage track by $index">
            <span>{{rsMessage.user}}</span> : <span>{{rsMessage.text}}</span>
        </li>
    </ul>
<div class="col-md-6">
    <form autocomplete="off" name="LoginForm">
        <h4 class="nomargin">Sign In</h4>
        <input ng-model="email" required type="text" class="form-control uname" name="email" placeholder="Your email">
        <a href="javascript:void(0)"><small>Your Account ?</small></a>
        <input ng-model="password" type="password" name="password" class="form-control pword" placeholder="Password">
        <a href="javascript:void(0)"><small>Lost Password ?</small></a>
        <!--<p class="mt5 mb20"><input type="checkbox" name="remember" id="remember" value="1"> Nhớ trạng thái đăng nhập</p>-->
        <button class="btn btn-success btn-block" ng-click="Login()" name="Submit">Sign In</button>
    </form>
</div>