<div id="Search-User" class="hidden">
    <div class="bs-example bs-example-control-sizing" data-example-id="form-control-height-sizes">
        <form  name="FormSearchUser">
            <div class="controls">
                <input class="form-control input-sm" ng-model="searchUser" type="text" placeholder="Find user...">
            </div>
        </form>
    </div>
    <table id="table-list-user-message" class="table table-hover hidden">
        <thead>
            <tr class="header-table">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="body-table">
            <tr ng-click="dataListUser(item.$id)" ng-if="IDcurrentUser!=item.$id" chat-others-user-message-control ng-repeat="item in obj |filter:searchUser as result" class="{{animateClass}}">
                <th scope="row">{{$index}}</th>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>@{{item.email}}</td>
                <td>Online</td>
            </tr>
            <tr>
                <td class="text-center" colspan="5" ng-if="result.length==0"> Not found any results</td>
            </tr>
        </tbody>

    </table>
</div>


<div ng-include="'client/app/views/boxChat.html'"></div>
