<div class="col-md-6">
    <div ng-include="'app/view/login_social.html'"></div>   
</div>
<div class="col-md-6">
    <form autocomplete="off" name="LoginForm">
        <h4 class="nomargin">Register</h4>
        <input ng-model="email" required type="email" class="form-control uname" name="email" placeholder="Your email">
        <input ng-model="firstName" required type="text" class="form-control uname" name="firstName" placeholder="First name">
        <input ng-model="lastName" required type="text" class="form-control uname" name="lastName" placeholder="Last name">
        <input ng-model="password" type="password" name="password" class="form-control pword" placeholder="Password">
        <input ng-model="re_password" type="password" name="re_password" class="form-control pword" placeholder="Confirm password">
        <button class="btn btn-success btn-block" ng-click="register()" name="Submit">Register</button>
    </form>
</div>